.fill{
    margin-top: 100px;
  }

.product-card{
    display: grid;
  width: 300px;
  border: 1px solid rgb(242, 132, 130);
  padding: 16px;
  border-radius: 8px;
  gap: 10px;
  background-color: rgb(245, 202, 195, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.product-card img {
    width: 100%;
    border-radius: 8px;
  }
